{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="stylesheet" href="/static/reset.css">
  {% block title %}
  {% endblock %}
</head>
<body bgcolor="#fff8dc">
<div class="header">
  <div class="header-auth">
    {% if user.is_authenticated %}
      <a href="/logout/">Выйти</a>
    {% else %}
      <a href="/registration/">Регистрация</a>
      <a href="/login/">Войти</a>
    {% endif %}
  </div>
  <div class="header-title">
    <h1>Сайт рецептов</h1>
  </div>
  <div class="header-nav">
    <a href="/">Главная</a>
    <a href="/recipies/">Все рецепты</a>
    <a href="/add_recipe/">Добавить рецепт</a>
  </div>
</div>
{% block content %}
{% endblock %}
<div class="footer">
  <p>Сайт рецептов. Все права защищены.</p>
</div>
</body>
</html>