{% extends 'base.html' %}
{% block title %}
  <title>{{ page_title }}</title>
{% endblock %}
{% block content %}
  <div class="body-random-recipies">
    {% for recipe in recipies %}
      <div class="body-random-recipies-item">
        <a href="/recipe/{{ recipe.id }}/">
          <h3>{{ recipe.title }}</h3>
        </a>
        <br>
        <p>Время приготовления: {{ recipe.time_minutes }} минут</p>
        <br>
        <img src="{{ recipe.image.url }}" alt="recipe image">
        <br>
        <p>Автор: {{ recipe.author.username }}</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}