{% extends 'base.html' %}
{% block title %}
  <title>Войти</title>
{% endblock %}
{% block content %}
  <div class="auth">
    <h3>Войти</h3>
    <form method="post">
      {% csrf_token %}
      <p>
          <label for="id_username">Имя пользователя:</label>
          <input type="text" name="username" id="id_username" required>
      </p>
      <p>
          <label for="id_password">Пароль:</label>
          <input type="password" name="password" id="id_password" required>
      </p>
      <div class="form-actions">
          <button type="submit">Войти</button>
      </div>
    </form>
  </div>
{% endblock %}