{% extends 'base.html' %}
{% block title %}
  <title>{{ page_title }}</title>
{% endblock %}
{% block content %}
  <div class="body-all-recipies">
    <table>
      <tr>
        <th>Название рецепта</th>
        <th>Описание</th>
        <th>Время приготовления</th>
        <th>Автор</th>
        <th>Категория</th>
      </tr>
      {% for recipe in recipies %}
        <tr>
          <td><a href="/recipe/{{ recipe.id }}/">{{ recipe.title }}</a></td>
          <td>{{ recipe.description }}</td>
          <td>{{ recipe.time_minutes }}</td>
          <td>{{ recipe.author.username }}</td>
          <td>{{ recipe.category.title }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}